* {
    box-sizing: border-box;
}

body {
    /*margin: 0;*/
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header a {
    display: flex;
    justify-content: center;
}

header nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
      
}

header nav ul li { 
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(#404040, #0d0d0d);
}

nav li:hover {
    background-image: linear-gradient( #1ac7d3, #6d706b);
  }

header nav ul li a {
    text-decoration: none;
    color: white;
}

.hero-image {
    background-image: url("images/corporate-image.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    width: 100%;
    height: 300px;
}

.hero-image small {
    font-style: italic;
    font-size: 2em;
    color: green;
}
.hero-image p {
    font-size: 3em;
    color: white;
}
.hero-image small,p {
    font-weight: bold;
    position: absolute;
    padding-top: 20%;
    padding-left: 0;
}

article p {
    font-weight:normal;
    margin: 2px;
    padding: 2px;
    position:static;

}

div img {
    width: 100%;
}

aside {
    background-color: #f2f2f2;
}

aside ul {
    list-style: none;
}

aside h2 {
    text-transform: uppercase;
}
aside li {
    padding: 10px;
    border-bottom: 1px solid #adadad;
}

aside ul li span {
    display: block;

}

.fas, span a {
    color: green;
    text-decoration: none;
}

footer {
    text-align: center;
    background: grey;
    padding: 20px;
    
}

/*Tablet*/
@media (min-width: 500px) and (max-width: 1000px) {

    nav ul {
        display: flex;
        justify-content: center;
        padding: 1em 0;
    }

    nav ul li {
        background-image: linear-gradient(#f2f2f2, #f2f2f2);
    }

    nav a {
        color: black;
        padding: 5px;
    }

    main section {
        width: 90%;
        max-width: 900px; 
        margin: auto;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
    }

    .flex-container > article {
        padding: 5px;
    }

    .artikel-welkom {
        flex: 40%;
    }

    .artikel-diensten {
        width: 80%;
        margin-top: 40px;
    }

    .flex-container img {
        width: 100%;
    }


 }

/*Desktopt*/

@media (min-width: 1000px) {

    main{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    main aside,section {
        width: 45%;
    }
 }
