* {
    box-sizing: border-box;
}

.flex-container{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header img{
    display: block;
    margin: auto;
}

main{
    width: 100%;
}

.banner img{
    width: 100%;
}

.drie-artikels{
    width: 100%;
    justify-content: space-around;
}
.drie-artikels article {
    width: 100%;
}

footer {
    background: grey;
    width: 100%;
    height: 80px;
    
}

/*Tablet*/
@media (min-width: 500px) and (max-width: 1000px) {

    .drie-artikels {
       width: 100%;
       display: flex;
       flex-wrap: wrap;
    }
    .drie-artikels article {
        width: 40%;
    }
    header img {
        width: 15em;
    }
 }

/*Desktopt*/

@media (min-width: 1000px) {

    header img {
        display: flex;
        margin: 0 50px;
        justify-content: flex-start;
    }

    .drie-artikels {
       width: 100%;
       display: flex;
    }

    .drie-artikels{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .drie-artikels article {
        width: 25%;
    }
 }
